.product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    margin: 40px auto;
    padding: 20px;
    gap: 40px;
    background-color: #f9f9f9;
    font-family: 'Lexend', serif;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.flex-container>div {
    margin: 30px;
}

.flex-container hr {
    width: 100px;
    height: 100px;
    padding: 5px;
    margin: 10px;
    border-color: #FFF;
    box-shadow: none;
    border-width: 5px;
}

/* Left column */
.product-image {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-image img {
    max-width: 100%;
    border-radius: 8px;
    object-fit: contain;
}

/* Right column */
.product-details {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: left;
}

.product-details h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 3rem;
    margin: 0;
    color: #cc6600;
    font-weight: 600;
}

.product-details .price {
    font-size: 1.5rem;
    color: #662626;
    font-weight: bold;
}

.product-details .description {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.5;
}

.product-container .buttons {
    display: flex;
}