body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Playfair Display', serif;
    background-color: #fdfdfb;
    color: #333;
    align-content: center;
}

/* Navbar */

.navbar {
    background-color: #fff3e6;
    padding: 0.5rem 2rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name-logo img{
    height: 55px;
    width: auto;
    padding-bottom: 0;
}

.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-menu li {
    margin-left: 20px;
}

.nav-menu a {
    font-size: 1.2rem;
    text-decoration: none;
}

.nav-menu span{
    margin: auto;
    font-size: 1.2rem;
    color: #662626;
}

/* Link as button */

.btn-link {
    background-color: #f0c8c8;
    color: #662626;
    padding: 8px 18px;
    border-radius: 25px;
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
    font-weight: 700;
    transition: all 0.3s ease;
    border: 2px solid #e4b2b2;
    margin-left: 10px;
    display: inline-block;
}

.btn-link:hover {
    background-color: #ffffff;
    color: #cc6600;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Footer */

.footer {
    margin-top: auto;
    background-color: #eac7bc;
    color: #4d3c3c;
    padding: 10px 10px 10px 10px;
    border-top: 1px solid #ddd;
    margin-bottom: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-content: center;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    max-width: 60vw;
    margin-left: auto;
    margin-right: auto;
}

.footer-about, .footer-contact {
    flex: 0 1 auto;
    max-width: 500px;
}

.footer-about h3, .footer-contact h3 {
    font-family: 'Amatic SC', serif;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.footer-about p, .footer-contact p {
    font-family: 'Lexend', serif;
    font-weight: 400;
    font-size: 1rem;
}

.footer-bottom {
    font-family: 'Amatic SC', serif;
    text-align: center;
    margin-top: 20px;
    font-size: 1.3rem;
    color: #ffffff;
}