<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main-layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Catalogo</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<section layout:fragment="content">
    <section class="products">
        <h2>I nostri prodotti</h2>
        <div class="product-grid">
            <div class="product-card" th:each="product : ${products}">
                <a th:href="@{/product/{id}(id=${product.id})}">
                    <img th:src="@{${product.imageUrl}}" th:alt="${product.name}"/>
                    <h3 th:text="${product.name}"></h3>
                    <p th:text="${product.description}"></p>
                    <span th:text="${product.price + ' €'}"></span>
                </a>
            </div>
        </div>
    </section>
</section>
</body>
</html>