<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main-layout.html}">
<head>
    <meta charset="UTF-8">
    <title th:text="${product.name} + ' - Panettoni by Silvia'">Prodotto</title>
    <link rel="stylesheet" th:href="@{/css/product.css}" />
</head>
<body>
<section layout:fragment="content">
    <div class="product-container">
        <div class="product-image">
            <img th:src="@{${product.imageUrl}}" alt="Immagine prodotto" class="product-image" />
        </div>
        <div class="product-details">
            <h1 th:text="${product.name}">Product name</h1>
            <div class="price" th:text="'€ ' + ${product.price}">Product price</div>
            <div class="description" th:text="${product.description}">Product description</div>
            <div class="buttons">
                <button>Add to Cart</button>
                <button>Wishlist</button>
            </div>
            <p class="error" th:if="${#authorization.expression('!isAuthenticated()')}">Per aggiungere i prodotti al carrello e alla wishlist è necessaria la registrazione.</p>
        </div>
    </div>
</section>
</body>
</html>