<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <title th:text="${product.name}">Prodotto</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="product-card">
    <img th:src="@{${product.imageUrl}}" alt="Immagine prodotto">
    <h1 th:text="${product.name}">Nome Prodotto</h1>
    <p th:text="${product.description}">Descrizione</p>
    <p><strong>Categoria:</strong> <span th:text="${product.category}">Panettoni</span></p>
    <p><strong>Prezzo:</strong> €<span th:text="${product.price}">0.00</span></p>
    <button>Aggiungi al carrello</button>
</div>
</body>
</html>