<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main-layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Registrazione</title>
    <link rel="stylesheet" th:href="@{/css/login_reg.css}">
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <h2>Registrazione</h2>
        <form th:action="@{/register}" method="post" th:object="${user}">
            <label>
                Username:
                <input type="text" th:field="*{username}" required>
            </label>
            <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error"></div>

            <label>
                Email:
                <input type="email" th:field="*{email}" required>
            </label>
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></div>

            <label>
                Password:
                <input type="password" th:field="*{password}" required>
            </label>
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></div>

            <button type="submit">Registrati</button>
        </form>
    </div>
</section>*
</body>
</html>